yolov8n-seg.pt
venv*
.git
runs/segment/val
runs/segment/train*/*.png
runs/segment/train*/*.jpg
runs/segment/train*/*.csv
input*/*
output*/*
*.cache
*.log
secret*
dataset
*.pth
test*/
tmp
__pycache__/
build/
dist/
*.spec
tmp*