accelerate==1.13.0
altair==6.1.0
altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
anywidget==0.10.0
asttokens==3.0.1
attrs==26.1.0
bbox_visualizer==0.3.0
blinker==1.9.0
cachetools==7.1.1
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
Cython==3.2.4
decorator==5.2.1
defusedxml==0.7.1
einops==0.8.2
executing==2.2.1
fairscale==0.4.13
filelock==3.28.0
filetype==1.2.0
fonttools==4.62.1
fsspec==2026.3.0
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.50
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==0.36.2
idna==3.7
ipython==9.10.1
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_bbox_widget==0.6.0
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
lap==0.5.13
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mpmath==1.3.0
narwhals==2.21.0
networkx==3.6.1
ninja==1.13.0
numpy==2.4.4
open_clip_torch==3.3.0
opencv-python==4.13.0.92
opencv-python-headless==4.10.0.84
packaging==26.1
pandas==3.0.2
parso==0.8.6
pefile==2024.8.26
peft==0.19.1
pi_heif==1.3.0
pillow==12.2.0
pillow-avif-plugin==1.5.5
polars==1.40.0
polars-runtime-32==1.40.0
polygraphy==0.49.26
prompt_toolkit==3.0.52
protobuf==7.34.1
psutil==7.2.2
psygnal==0.15.1
pure_eval==0.2.3
pyarrow==24.0.0
pycocotools==2.0.11
pydantic==2.13.2
pydantic_core==2.46.2
pydeck==0.9.2
pyDeprecate==0.9.0
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pylabel==0.1.55
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.27
pywin32-ctypes==0.2.3
PyYAML==6.0.3
referencing==0.37.0
regex==2026.4.4
requests==2.33.1
requests-toolbelt==1.0.0
rf100vl==1.1.0
rfdetr==1.2.1
rich==15.0.0
roboflow==1.3.3
rpds-py==0.30.0
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
shellingham==1.5.4
six==1.17.0
smmap==5.0.3
stack-data==0.6.3
starlette==1.0.0
supervision==0.29.0.post0
sympy==1.14.0
tenacity==9.1.4
threadpoolctl==3.6.0
timm==1.0.26
tokenizers==0.21.2
toml==0.10.2
torch==2.4.1
torch-directml==0.2.5.dev240914
torchvision==0.19.1
tqdm==4.67.3
traitlets==5.14.3
transformers==4.52.4
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
ultralytics==8.4.39
ultralytics-thop==2.0.18
urllib3==2.6.3
uvicorn==0.46.0
watchdog==6.0.0
wcwidth==0.6.0
websockets==16.0
widgetsnbextension==4.0.15
